*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: hsl(30, 38%, 92%);
    overflow: auto;
}

.main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    vertical-align: middle;
    overflow: hidden;
    background-color: white;
}

img{
    width: 100%;
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    height: 100%;
}

.content-description{
    margin: 30px;
}

.content-description .teste{
    font-family: "Montserrat";
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 10px;
    /* height: 90%; */
}

.content-description h1{
    font-family: "Fraunces";
    color: hsl(212, 21%, 14%);
    margin-bottom: 20px;
}

.content-description .description{
    color:hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}

.content-description .values{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.content-description .values .value-new{
    font-size: 35px;
    font-family: "Fraunces";
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.content-description .values .value-old{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 14px;
    font-family: "Fraunces";
    font-weight: 300;
}

.content-description button img{
    width: 15px;
    height: 15px;
}

.content-description button .blu{
    margin-left: 10px;
}

.content-description button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.35s;
}

.content-description button:hover{
    background-color: hsl(158, 37%, 24%);
}

@media (max-width: 450px){
    .main-content{
        display: flex;
        flex-direction: column;
        /* height:100%; */
        width: 90%;
        /* overflow: auto; */
    }
    .img-perfume{
        content: url('../imagens/image-product-mobile.jpg');
        width: 100%;
        max-inline-size: 100%;
        block-size: auto;
        object-fit: contain;
        height: 100%;
    }
}